* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Quicksand", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: black;
    /*background-image et background-size pour imposer mon fond d'écran*/
    background-image: url('pics/coule.gif'); no-repeat center fixed;
    background-size: cover;
    text-shadow: 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE;
  }
  
  #time {
    font-size: 8rem;
  }
  
  h1 {
    margin-bottom: 3rem;
  }
  
  h2 {
    margin-bottom: 0.5rem;
    /*opacity: 0.6;*/
  }
  
  #showDayDate {
  color:white;
  }
  
  .input {
  text-align:center;
  opacity: 0.5;
  }
  
  input[type='text'] {
  height:50px;
  width: 300px;
  background: white;
  font-weight:bold;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  padding: 10px;
  text-shadow: 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE;
  color: grey
  }
  
  input[type='submit'] {
    height:50px;
    width: 100px;
    background: white;
    font-weight:bold;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    text-shadow: 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE, 0 0 2px #AFEEEE;
    color: grey
    }
  
  
  
  names.innerHTML {
    color:red
  }
  
  @media (max-width: 700px) {
    #time {
      font-size: 6rem;
    }
  }
  